# Secrets for Alexandria Helm chart
# Copy this file and fill in your actual secrets

keycloakAdminPassword: &keycloakAdminPassword "secure-admin-password" # Change this!
postgresPassword: &postgresPassword "postgres-password" # Change this!
s3AccessKey: &s3AccessKey "admin" # Change this!
s3SecretKey: &s3SecretKey "s3-secret-password" # Change this!
grafanaAdminPassword: &grafanaAdminPassword "grafana-admin-password" # Change this!


# Do not change this!

spring:
  database:
    password: *postgresPassword

keycloak:
  keycloak:
    adminPassword: *keycloakAdminPassword
  database:
    password: *postgresPassword

postgres-db:
  auth:
    password: *postgresPassword

s3:
  accessKey: *s3AccessKey
  secretKey: *s3SecretKey

seaweedfs:
  s3:
    credentials:
      admin:
        accessKey: *s3AccessKey
        secretKey: *s3SecretKey

grafana:
  adminPassword: *grafanaAdminPassword
