# Secrets for Alexandria Helm chart
# Copy this file and fill in your actual secrets

keycloakAdminPassword: &keycloakAdminPassword "secure-admin-password" # Change this!
postgresPassword: &postgresPassword "postgres-password" # Change this!


# Do not change this!

spring:
  database:
    password: *postgres-password

keycloak:
  keycloak:
    adminPassword: *keycloakAdminPassword
  database:
    password: *postgres-password

postgres-db:
  auth:
    password: *postgres-password
