# Copy this example file to `.env` and fill out secrets for local development.
# If you want to add secrets, add an entry in the .env.example file, commit it
# to the repository and update the GitHub CI and repository secrets.

# The local .env file contains secrets that should not be publicly accessible,
# e.g. passwords.It should *not* be commited to the repo, but rather be used
# for local development.

# Secrets of length n chars can be generated e.g. via
# tr -dc A-Za-z0-9 </dev/urandom | head -c n; echo

# LLM API key for the GenAI service
# Logos (default): use your lg-... key issued by the course tutors
# OpenAI: use your sk-... key
LLM_API_KEY="lg-your-key-here"

# Keycloak (OIDC provider)
KC_BOOTSTRAP_ADMIN_USERNAME="admin"
KC_BOOTSTRAP_ADMIN_PASSWORD="secret-with-64-bit-entropy-eg-16-hex-chars"

# PostgreSQL
POSTGRES_DB="some-db-name"
POSTGRES_USER="some-username"
POSTGRES_PASSWORD="secret-with-64-bit-entropy-eg-16-hex-chars"
POSTGRES_PORT=5432
